@page
@model CryptographyCore.Pages.hash.setupTamperproofQSModel
@{
    ViewData["Title"] = "setupTamperproofQS";
}

<a href="/hash/useTamperproofQS?@Model.qs&qtpval=@Model.hash">Use Tamperproof Querystring</a>

