@page
@model CryptographyCore.Pages.asymmetric.CreateRsaKeysModel
@{
    ViewData["Title"] = "CreateRsaKeys";
}

<h3>Public/Private</h3>
@Model.rsaKeysPublicPrivateXml

<h3>Public</h3>
@Model.rsaKeysPublicXml

