@page
@model CryptographyCore.Pages.asymmetric.webSiteEncryptModel
@{
    ViewData["Title"] = "webSiteEncrypt";
}

<form method="post">
    <div class="wrapper">
        <div class="box">Plaintext:</div>
        <div class="box"><input name="PlainText" value="@Model.PlainText" style="width:348px" /></div>
        <div class="box"><input type="submit" asp-page-handler="Encrypt" value="Encrypt" /></div>
    </div>
    <p></p>

    <div class="wrapper altRow">
        <div class="box">Ciphertext:</div>
        <div class="box"><textarea name="CipherText" rows="2" cols="20" style="height:88px;width:346px;">@Model.CipherText</textarea></div>
        <div class="box">&nbsp;</div>
    </div>
</form>
